<div class="container text-white bg-dark">
    <h1>Lista de Estudiantes</h1>

    <table class="table text-white">
        <thead>
            <tr>
                <th class="col-1">Id</th>
                <th class="col-1">LastName</th>
                <th class="col-2">FirstName</th>
                <th class="col-2">Dni</th>
                <th class="col-2">Email</th>
                <th class="col-2">Address</th>
                <th></th>
            </tr>
            <tr *ngFor="let s of students">
                <td class="col-1">{{s.studentId}}</td>
                <td class="col-1">{{s.lastName}}</td>
                <td class="col-2">{{s.firstName}}</td>
                <td class="col-2">{{s.dni}}</td>
                <td class="col-2">{{s.email}}</td>
                <td class="col-2">{{s.address}}</td>
                <td>
                    <button (click)="delete(s)" class="btn bg-danger m-1"><img style="width:1.5rem;" src="../../../assets/img/deleteIcon.png"></button>
                    <button (click)="edit(s)" class="btn bg-warning m-1"><img style="width:1.5rem;" src="../../../assets/img/edit-icon.jpg"></button>
                </td>
            </tr>
        </thead>
    </table>
</div>

